torch
torchvision
gymnasium[classic_control,atari,accept-rom-license,box2d,mujoco]
numpy
tensorboard
ruamel.yaml
addict
pytorch_optimizer
tqdm
swig
dm_control
mujoco
shimmy
opencv-python
moviepy
matplotlib
pandas
